.wrapper-list-flight {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        width: var(--default-layout-width);
        border: 1px solid var(--black);
        border-radius: 10px;
        padding: 8px 16px;
    }
}

.list-flight {
    margin-top: 12px;
}

.list-flight-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .flight-item {
        display: flex;
        flex-direction: column;
        width: 48.99%;
        border: 2px solid var(--primary);
        border-radius: 10px;
        margin-bottom: 16px;
        padding: 8px 12px;

        .flight-info {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}

.info-airline {
    color: var(--primary);

    .name-airline {
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        width: fit-content;
    }

    .flight-number {
        color: var(--black);
        font-size: 14px;
        margin-left: 4px;
    }

    .btn-delete {
        margin-top: 4px;
        padding: 0;
        min-width: 20px;
        float: right;
    }

    .bnt-edit {
        float: right;
        margin-right: 12px;
        line-height: 20px;
        font-size: 12px;
    }

    .icon {
        height: 15px;
    }
}

.ticket-price {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    p {
        display: flex;
        justify-content: space-between;
        text-indent: 15px;
    }

    .amount-ticket {
        margin-right: 30px;
    }
}

.ticket-price-edit,
.flight-info-edit {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    label {
        margin-bottom: 12px;
    }

    .input-edit {
        width: 150px;
        padding: 4px 8px;
        border: none;
        border-bottom: 1px solid var(--black);
    }
    .label-edit {
        text-indent: 15px;
        display: flex;
        justify-content: space-between;
    }

    .info-airline-edit {
        margin-bottom: 12px;
    }

    .btns {
        align-self: center;
        .btn-save,
        .btn-cancel {
            width: fit-content;
            margin-bottom: 8px;
            min-height: 30px;
        }
    }
}
