.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.content-employee {
    display: flex;
    align-self: flex-start;
}

.logo img {
    height: 50px;
    margin-right: 24px;
}
