.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.content-employee {
    display: flex;
    align-self: flex-start;
}

.logo img {
    margin-right: 24px;
}

.btn-nav-bar {
    padding: 0px 8px;
}
